img {
	max-width: 100%;
}
li:hover { 
	cursor: pointer;
	cursor: hand;
	color: red;
}
ul, a {
   list-style-type: none;
}

.show-article {
	text-align: center;
}

/*// DIV OD BODY-a*/
.wrapper {
  margin-top: 0;
  min-height: calc(100vh - 159px) !important;
}


/*STYLING ZA RASPORED*/

.ukini {
	border-bottom: 0
	border-top: 0
}
.donja {
	border-bottom: 0
	border-top: 0
}
.gornja {
	border-top: 0
}

table {
	margin-top:20px;
  margin-left: auto;
  margin-right: auto;
	border: 1px solid black;
	text-align: center;
	background-color: #fac408 !important;
	
}
.dani {
	background-color:#222;
	text-align: center;
}
th.dani {
		color:white
}
th {
	text-align: center
}

/*// Footer styling*/
.footer {
  height: 109px;
  width: 100%;
  max-width: 100%;
}
#logo3 {
  width: 21%;
}
#logodno2 {
  width: 13%;
}
#slike {
  margin-top:25px;
}
#logodno {
  width: 15%;
  margin-left: -45px;
  margin-right: 15px;
}
.footer a{
  color: white
}
.footer a:hover {
  color: #fac408;
}
.footer ul {
  margin-left: 30%;
}
.footer h4 {
  color: white;
}
.footer .background {
  background-color: #222;
  width: 100%;
}
.glavnina {
  min-height: calc(100vh - 181px);
}
